<ul class="icon-links">
  <!-- GitHub link -->
  <li class="icon-link-item">
    <a href="https://github.com/pichot" class="icon-link" itemprop="sameAs">
      {% include icons/icon-github.html %}
    </a>
  </li>

  <!-- Twitter link -->
  <li class="icon-link-item"><a href="https://twitter.com/_pichot" class="icon-link" itemprop="sameAs">{% include icons/icon-twitter.html %}</a></li>
  
  <!-- Medium link -->
  <li class="icon-link-item">
    <a href="https://medium.com/@pichot" class="icon-link" itemprop="url">{% include icons/icon-medium.html %}</a>
  </li>

  <!-- LinkedIn link -->
  <li class="icon-link-item"><a href="https://linkedin.com/in/jonathanpichot" class="icon-link" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a></li>
</ul>
